<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color:black;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
    strong{
        color: blue;
        margin-right: 10px;
    }
    p{
        margin-right: 8px;
    }
    .brown{
        color: brown;
    }
    .green{
        color: green;
        font-style: italic;
    }

</style>

{{#if logeado}} 
      <div class="bienvenida navbar navbar-expand-lg navbar-success bg-info">
       <h3>Bienvenido</h3> <hr> <h3>Nombre: {{nombre}}</h3> <hr>
        
        <button class="btn btn-danger my-5" onclick="logout()">LOGOUT</button>
        </div> 
    {{else}}  
    <div class="bienvenida navbar navbar-expand-lg navbar-success bg-info row">        
        <h3>Login por Facebook</h3>
          <button class="btn btn-success my-3" onclick="goSignup()">SIGNUP</button>
    </form>
    
        </div>
    {{/if}}

    <script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 

    function goSignup() {
      redireccionar('/auth/facebook');
    }
  </script>
  <script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 

    function logout() {
        console.log('logout');
        redireccionar('/logout')
    }
</script>

<div class="container mt-3">
            <div class="jumbotron">
                <h1 style="color:blue;">Ingrese datos</h1>
                <br>

                <form onsubmit="addProducto()">

                    <div class="form-group">
                        <label for="title"><b>title:</b></label>
                        <input id="title" class="form-control" type="text" name="title">
                    </div>
                    <div class="form-group">
                        <label for="price"><b>price:</b></label>
                        <input id="price" class="form-control" type="text" name="price">
                    </div>
                    <div class="form-group">
                        <label for="thumbnail"><b>thumbnail:</b></label>
                        <input id="thumbnail" class="form-control" type="text" name="thumbnail">
                    </div>


                    <button class="btn btn-success mt-3 mb-5">Enviar</button>
                </form>
            </div>
</div>


<div class="jumbotron tabla">
    <h1>Vista de Productos</h1>
    <br>
    
    {{!-- {{#if hayProductos}} 
        <div class="table-responsive">
            <table class="table table-dark">
                <tr><th>Nombre</th><th>Precio</th><th>Foto</th><th>Actualizado</th></tr>
                {{#each productos}}
                    <tr><td>{{this.title}}</td> <td>${{this.price}}</td> <td><img width="50" src={{this.thumbnail}} alt="not found"></td><td>{{this.actualizado}}</td></tr>
                {{/each}}
            </table>
        </div>
    {{else}}  
        <h3 class="alert alert-warning">No se encontraron productos</h3>
    {{/if}} --}}
</div>

<div class="Chat">

    <h1>Chat</h1>
    
    <div id="mensajes"></div>

    <form class="form-inline" onsubmit="return addMensajes(this)" >
    <input type="text" id="userName" placeholder="ingrese su mail @">
    <input type="text" id="texto" placeholder="Contanos algo">
    <input type="submit" value="Enviar">
    </form>  
<script src="index.js"></script>
</div>